  body{
    max-width: 100vw; 
  }
  header{
            background-color: #91b991;
            color: #FFFFFF;
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            padding: 16px;
            display: flex;
        }
        main{
            background-color: #eeff00;
            color:#000000;
            margin: 0 auto;
            padding: 16px;
        }
        article{
            display: flex;
            flex-direction: column;
            align-items: center; 
            text-align: center;
            justify-content: center;
            border: 1px solid black;
            margin: 16px;
            gap: 16px;
            padding: 16px;
            flex: 1 1 25%; 
        }
        img{
            width: 80px;
            height: 80px;
        }
        .artigo-autor{
         font-weight: bold;
        }
        
        .direitos{
            text-align: center;
            color: darkblue;
        }
